@font-face {
    font-family: 'vinir';
    src: url(./fonts/veneer-two.ttf);
}

.logo{
    font-size: 2vw;
    margin: 1vw auto;
    text-align: center;
    display: block;
    background-color: transparent;
    text-decoration: none;
    font-family: 'vinir';
    color: white;
    transform: skew(-5deg);
    transition: all 0.6s ease-out;
}

.logo-light{
    font-size: 2vw;
    margin: 1vw auto;
    text-align: center;
    display: block;
    background-color: transparent;
    text-decoration: none;
    font-family: 'vinir';
    color: #ff2744;
    transform: skew(-5deg);
    transition: all 0.6s ease-out;
}

.logoSpan{
    color: rgb(23, 255, 189);
    transition: all 0.6s ease-out;
}
.logoSpan::after{
    content: " / ";
    color: #ff0000;
}

.logoSpan-light{
    color: #F4DB7D;
    transition: all 0.6s ease-out;
}
.logoSpan-light::after{
    content: " / ";
    color: rgb(23, 255, 189);
}